# macOS
.DS_Store

# Homebrew
/Brewfile.lock.json

# VS Code
/.vscode/settings.json

# Cargo
/target/
/Cargo.lock

# HuC
/example/example.lst
/example/example.ovl
/example/example.s
/example/example.sym

# Output
/temp/
